{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %} Правка личных данных {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="content-wrap">
                <h2>Правка личных данных пользователя {{ user.email }}</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div><!-- .content-wrap -->
        </div><!-- .col -->
    </div><!-- .row -->
{% endblock %}