{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %} SignUp {% endblock title%}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="content-wrap">
                <h2>Регистрация завершена</h2>
                <p>Регистарция пользователя завершена</p>
                <p>На адрес электронной почты, указанной пользователем, выслано письмо для активации</p>
            </div><!-- .content-wrap -->
        </div><!-- .col -->
    </div><!-- .row -->

{% endblock content %}